%h1 登録ユーザー 一覧
%p Find me in app/views/users/index.html.haml
- @users.each do |user|
  %hr/
  %p
  - if user_signed_in? && user.id == current_user.id
    %span 名前:
    = user.name
    %span email:
    = user.email
    %span 
    = link_to "ユーザー編集", user_path(current_user.id)
= link_to "戻る", :back