%h1 登録ユーザー 一覧
%p Find me in app/views/users/index.html.haml
- @users.each do |user|
  %hr/
  %p
    %span 名前:
    = link_to user.name, user_path(user.id)
    %span email:
    = link_to user.email
= link_to "戻る", :back